# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt user-specific project files
*.pro.user

# Qt MinGW Debug folder
build-Server-Desktop_Qt_5_1_1_MinGW_32bit-Debug/
build-Client-Desktop_Qt_5_1_1_MinGW_32bit-Debug/

#Savefiles
bigsave.dat